@charset "utf-8";
/*---------------------------------------------
	파일명 : default
	설　명 : 초기화
---------------------------------------------*/

/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
{margin:0; padding:0; border:0; outline:0; font-size:1rem; vertical-align:baseline; background:transparent;}

html {-webkit-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -ms-text-size-adjust: 100%; -webkit-touch-callout: none; -webkit-user-select: none; -webkit-tap-highlight-color: transparent; overscroll-behavior: none;}
/*body {overflow-y: scroll;}*/

a {display:block; color:inherit; font-size: 1rem; font-weight: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a:link, a:hover, a:active, a:visited, a:any-link, a:-webkit-any-link {display:block; margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; color:inherit; text-decoration:none; cursor:pointer;}

article, aside, figcaption, figure,
footer, header, hgroup, menu, nav, section
{display:block;}

audio,canvas,progress,video {display: inline-block; vertical-align: baseline}
audio:not([controls]) {display: none; height: 0}

blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:'';}

b,strong {font-weight: 700}
sub,sup {position: relative; font-size: .75rem; vertical-align: baseline}
sup {top: -.3em}
sub {bottom: -.25em}
small {font-size: .75rem}

button, input, select, textarea {margin: 0; color: inherit; vertical-align: middle; font-size: 1rem; font-weight: inherit; font-family: inherit; text-transform: none; appearance: none; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(255,255,255,0); -moz-appearance: none; box-shadow: none}

button, input[type=button], input[type=reset], input[type=submit]
{overflow: visible; -webkit-tap-highlight-color: rgba(255,255,255,0); border: none; border-radius: 0; outline: 0; padding: 0; background: 0 0; vertical-align: middle; cursor: pointer}
button[disabled], input[disabled] {cursor: default}
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; border: 0}

input {line-height: normal; border: none; outline: 0; caret-color: #505050}
input[type=search] {box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{height: auto; margin: 0; -webkit-appearance: none}
input[type=checkbox]::-ms-check {border: none; outline: 0}
input::-ms-clear,
input::-ms-reveal {display: none}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display:none;}
input::placeholder {color: #A0A0A0;}
select {outline: 0}
select::-ms-expand {display: none}

textarea {overflow: auto; vertical-align: baseline; caret-color: #505050;}
textarea::placeholder {color: #A0A0A0;}

fieldset {min-width: 0; margin: 0; padding: 0; border: none; outline: 0}
legend {margin: 0; padding: 0; border: 0}

nav, ul, ol, li {list-style:none;}

table {border-collapse:collapse; border-spacing:0;}
td,th {padding: 0}

img {border: 0; -ms-interpolation-mode: bicubic}

*{margin:0; padding:0;}

.hidden {display:none!important;}
.blind{position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}

[v-cloak] {
    display: none !important;
}

#confirmLayer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
}

#confirmLayer .rebrandingConfirmBox {
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    z-index: 800;
    text-align: center;
    height: 41.111vw;
    background-color: #fff;
    width: 88.333vw;
    border-radius: 5px;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents .rebrandingConfirmText {
    display: flex;
    align-items: center;
    height: 25vw;
    font-size: 1rem;
    font-weight: 500;
    line-height: 5.556vw;
    color: #505050;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents .rebrandingConfirmButtonHead {
    display: flex;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 11.112vw;
    margin-bottom: 5vw;
    justify-content: space-evenly;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents .rebrandingConfirmButtonHead .rebrandingConfirmButton {
    width: 36.111vw;
    height: 11.389vw;
    border-radius: 5px;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents .rebrandingConfirmButtonHead .rebrandingConfirmButton.okay {
    background-color: #0f1838;
    color: #fff;
}

#confirmLayer .rebrandingConfirmBox .rebrandingConfirmContents .rebrandingConfirmButtonHead .rebrandingConfirmButton.cancel {
    color: #0f1838;
    border: solid 1px #0f1838;
    background-color: #fff;
}

#confirmLayer .confirmBox {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    z-index: 800;
}

#confirmLayer .confirmBox .confirmText {
    width: 88.8vw;
    border-radius: 4.2vw;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.44;
    letter-spacing: -0.72px;
    color: #000000;
    padding: 8vw 6vw;
    margin-bottom: 4.8vw;
}

#confirmLayer .confirmBox .confirmText .bold {
    font-weight: 500;
}

#confirmLayer .confirmBox .btnWrap {
    text-align: center;
}

#confirmLayer .confirmBox .btnWrap .btn.cancelBtn {
    background-color: #585454;
}

#confirmLayer .confirmBox .btnWrap .btn.confirmBtn {
    background-image: var(--color-smallBtn);
}

.overlay {
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    background-color: #000000;
}

