@charset "utf-8";
/*---------------------------------------------
	파일명 : location
	설　명 : 서비스장소 및 배달장소 설정
---------------------------------------------*/
/* 검색 */
header .areaSearch{position: relative; height: auto; margin: 7px 20px 22px 20px;}
header .setSearch{position: relative; width: 100%; height: auto;}
header .inputSearch{display: block; position: relative; width: 100%; height: 40px; line-height: 0.875rem; padding: 13px 80px 13px 15px; border: 1px solid #EAEAEA; border-radius: 5px; box-sizing: border-box; background-color: transparent; font-size: 0.875rem;}
header .labelSearch{position: absolute; top: 0; left: 15px; line-height: 40px; color: #A0A0A0; font-size: 0.875rem;}
header .inputSearch:focus + .labelSearch,
header .inputSearch:valid + .labelSearch{display: none;}
header .btnDelete{position: absolute; top: 12px; right: 45px;}
header .iconDelete{width: 16px; height: 16px; vertical-align: top;}
header .iconDelete rect{fill: none;}
header .iconDelete circle{fill: #EAEAEA;}
header .iconDelete line{fill: none; stroke: #505050; stroke-linecap: round; stroke-miterlimit: 4; stroke-width: 1px;}
header .btnSubmit{position: absolute; top: 5px; right: 10px;}
header .iconSubmit{width: 30px; height: 30px; vertical-align: top;}
header .linkMap{position: absolute; top: 0; right: 0; z-index: 10; width: 50px; height: 50px; line-height: 50px; text-align: center;}
header .linkMap:focus{background-color: #F8F8F8;}
header .linkMap .iconMap{width: 16px; height: 16px; margin-top: 17px; vertical-align: top;}
header .linkMap .iconMap rect{fill: none;}
header .linkMap .iconMap path{fill: none; stroke: #505050; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.3px;}

/* 서비스장소 */
#selectPlace{padding-top: 119px;}

#selectPlace .sectionSort{position: relative; z-index: 10; width: 100%; height: auto; padding: 30px 20px 0 20px; box-sizing: border-box; background-color: #FFFFFF;}
#selectPlace .sectionSort .setSort{position: relative; height: 28px; border-radius: 15px;}
#selectPlace .sectionSort .areaRadio{position: absolute; top: 0; width: 80px; height: 28px;}
#selectPlace .sectionSort .areaRadio:first-of-type{left: 0;}
#selectPlace .sectionSort .areaRadio:last-of-type{left: 90px;}
#selectPlace .sectionSort .radioSort{position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
#selectPlace .sectionSort .labelSort{display: block; position: relative; width: 100%; height: 100%; line-height: 28px; border-radius: 15px; background-color: transparent; color: #A0A0A0; font-size: 0.875rem; text-align: center;}
#selectPlace .sectionSort .radioSort:checked + .labelSort{background-color: #FFFFFF; color: #131313; font-weight: 700;  box-shadow: 0 1px 4px rgba(0,0,0,12%);}
#selectPlace .sectionSort .linkPlaceMap{position: absolute; top: 30px; right: 20px; line-height: 28px;}
#selectPlace .sectionSort .linkPlaceMap .iconMyLocation{margin-top: 6px;}
.sectionPlace{position: relative; width: 100%; height: auto; padding: 0 20px; box-sizing: border-box; background-color: #FFFFFF;}
.sectionPlace .ulPlace{position: relative; width: 100%; height: auto;}
.sectionPlace .liPlace{position: relative; width: 100%; height: auto; border-bottom: 1px solid #EAEAEA;}
.sectionPlace .liPlace:last-of-type{border-bottom: none;}
.sectionPlace .firstLetter{line-height: 0.75rem; padding: 22px 0 0 5px; box-sizing: border-box; color: #A0A0A0; font-size: 0.75rem;}
.sectionPlace .place{position: relative; width: 100%; height: auto; line-height: 14px; padding: 22px 40px 22px 5px; box-sizing: border-box;}
.sectionPlace .place.disable{color: #a0a0a0;}
.sectionPlace .place .fontMain{font-weight: 700;}
.sectionPlace .place .distance{position: absolute; top: 0; right: 0; line-height: 0.75rem; padding: 22px 0; color: #A0A0A0; font-size: 0.75rem; text-align: right;}
.sectionPlace .titleOpen{position: relative; width: 100%; height: auto; line-height: 1.25rem; padding: 30px 0 22px 0; color: #131313; font-size: 1.25rem; font-weight: 700;}
.sectionPlace .ulIndex{position: fixed; top: 195px; right: 20px; z-index: 10; width: 15px; height: auto; margin-bottom: 35px; padding: 3px 0; border-radius: 10px; background-color: #F8F8F8;}
@media screen and (min-width: 480px) {
    .sectionPlace .ulIndex{left: 50%; right: unset; margin-left: 198px;}
}
@media screen and (min-width: 1024px) {
    .sectionPlace .ulIndex{margin-left: 415px;}
}
.sectionPlace .liIndex{position: relative; width: 15px; height: 30px; line-height: 30px; margin: 7px 0; color: #A0A0A0; text-align: center; font-size: 0.5rem; font-weight: 700; cursor: pointer;}
.sectionPlace .liIndex:after{content: ""; position: absolute; bottom: -3px; left: 50%; width: 2px; height: 2px; margin-left: -1px; border-radius: 100%; background-color: #DADADA;}
.sectionPlace .liIndex:last-of-type:after{display: none;}
.sectionPlace .bigIndex{position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; line-height: 38px; margin-top: -20px; margin-left: -20px; border: 1px solid #EAEAEA; background-color: #F5F5F5; font-size: 1.5rem; font-weight: 900; text-align: center; animation-name: big; animation-duration: 1s; animation-iteration-count: 1; opacity: 0;}

.sectionPlace.consonant{padding-right: 55px;}
.sectionPlace.consonant .firstLetter{display: block;}
.sectionPlace.consonant .place .distance{display: none;}
.sectionPlace.consonant .ulIndex{display: block;}
.sectionPlace.distance{padding-top: 22px; padding-right: 20px;}
.sectionPlace.distance .firstLetter{display: none;}
.sectionPlace.distance .place .distance{display: block;}
.sectionPlace.distance .ulIndex{display: none;}

@keyframes big {
    0%{opacity: 0;}
    30%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity: 0;}
}

/* 서비스장소 검색 */
#selectPlace .sectionResult{width: 100%; height: auto; line-height: 0.875rem; padding: 22px 20px 0 20px; box-sizing: border-box; background-color: #FFFFFF; font-size: 0.875rem; text-align: right;}

/* 지도로 찾기 */
#map{position: relative; width: 100%; height: 100%; box-sizing: border-box; padding-top: 50px; padding-bottom: 230px;}

#map .sectionMap{position: fixed; top: 50px; bottom: 260px; width: 100%; overflow: hidden; background-color: #FFFFFF;}
@media screen and (min-width: 480px) {
    #map .sectionMap{width: 480px;}
}
.sectionMap{position: relative; width: 100%; height: 100%;}
.sectionMap #mapPlace{position: relative; width: 100%; height: 100%;}

.sectionMyLocation{position: fixed; bottom: 275px; right: 25px; z-index: 10; width: fit-content;}
@media screen and (min-width: 480px) {
    .sectionMyLocation{left: 50%; margin-left: 175px;}
}
@media screen and (min-width: 1024px) {
    .sectionMyLocation{margin-left: 380px;}
}
.sectionMyLocation .btnMyLocation{display: block; width: 40px; height: 40px; line-height: 40px; border: none; border-radius: 100%; background-color: #FFFFFF; text-align: center; box-shadow: 0 1px 4px rgba(0,0,0,12%);}
.sectionMyLocation .btnMyLocation .iconMyLocation{margin-top: 10px; transform: scale(1.25); transform-origin: top center;}

.iconMyLocation{width: 16px; height: 16px; vertical-align: top;}
.iconMyLocation rect{fill: none;}
.iconMyLocation circle{fill: none; stroke: #505050;}
.iconMyLocation line{fill: none; stroke: #505050; stroke-linecap: round;}

.bottomSheet .sheetContent .sectionPlace.distance{padding-top: 7px;}

/* 수령장소 제안 */
#applySpotSheet .sectionApply{position: relative; width: 100%; height: auto; padding: 20px; box-sizing: border-box; background: #FFFFFF;}
#applySpotSheet .sectionApply .olApply{position: relative; width: 100%; height: auto;}
#applySpotSheet .sectionApply .liApply{position: relative; width: 100%; height: auto; margin-bottom: 22px;}
#applySpotSheet .sectionApply .liApply:last-of-type{margin-bottom: 0;}
#applySpotSheet .sectionApply .liApply .howToApply{width: 100%; height: auto; line-height: 18px; margin-bottom: 15px;}
#applySpotSheet .sectionApply .liApply .applyMap{position: relative; width: 100%; height: 320px;}
#applySpotSheet .sectionApply .liApply .setBorder .inputBorder{line-height: 0.875rem; font-size: 0.875rem;}

/* 배달장소 설정 */
#locationSheet .sheetHeader .setLinkPlace{position: absolute; top: 0; left: 120px;}
#locationSheet .sheetHeader .btnLinkPlace{display: block; height: 50px; line-height: 50px; padding: 0 12px; color: #505050; font-size: 0.875rem; font-weight: 500;}
#locationSheet .sheetHeader .btnLinkPlace .iconUnfold{margin-top: 14px;}

#locationSheet .sectionSpotLocation{position: relative; width: 100%; height: 100%; background-color: #FFFFFF;}
#locationSheet .sectionSpotLocation .areaTabRound{position: relative; width: 100%; height: 50px; line-height: 50px; background-color: #F5F5F5; text-align: center;}
#locationSheet .sectionSpotLocation .setTabRound{display: inline-block; position: relative; width: 70px; height: auto; padding: 0 7px;}
#locationSheet .sectionSpotLocation .inputTabRound{position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; opacity: 0;}
#locationSheet .sectionSpotLocation .labelTabRound{display: inline-block; position: relative; width: 100%; height: 32px; line-height: 32px; border-radius: 18px; background-color: #FFFFFF; color: #505050; font-size: 0.875rem; font-weight: 500; text-align: center; box-shadow: 0 1px 4px rgba(0,0,0,12%);}
#locationSheet .sectionSpotLocation .inputTabRound:checked + .labelTabRound{background-color: #0F1838; color: #FFFFFF; font-weight: 700;}
#locationSheet .sectionSpotLocation .spotMap{position: relative; width: 100%; height: 300px; background-color: #EAEAEA;}
#locationSheet .sectionSpotLocation .spotMap .spotOverlay{position: relative; top: 30px; max-width: 120px; height: auto; padding: 7px 10px; border-radius: 5px; background-color: rgba(0,0,0,0.6);}
#locationSheet .sectionSpotLocation .spotMap .spotOverlay .name{line-height: 0.875rem; color: #FFFFFF; font-size: 0.625rem; font-weight: 600;}
#locationSheet .sectionSpotLocation .spotMap .spotOverlay.robot{background-color: rgba(0,100,236,0.75);}
#locationSheet .sectionSpotLocation .ulSpot{position: relative; width: 100%; height: auto;}
#locationSheet .sectionSpotLocation .liSpot{position: relative; width: 100%; height: auto; padding: 15px; border-bottom: 1px solid #EAEAEA; box-sizing: border-box;}
#locationSheet .sectionSpotLocation .liSpot:last-of-type{border-bottom: none;}
#locationSheet .sectionSpotLocation .labelRow{position: relative; display: flex; flex-direction: column; justify-content: center; min-height: 52px; padding-left: 95px; padding-right: 52px;}
#locationSheet .sectionSpotLocation .labelRow .iconCircles{position: absolute; top: 18px; left: 0; margin-top: 0; margin-right: 0; transform: scale(0.8);}
#locationSheet .sectionSpotLocation .labelRow .areaImgSpot{position: absolute; top: 0; left: 30px; width: 50px; height: 52px; border-radius: 5px; background-color: #F5F5F5; overflow: hidden;}
#locationSheet .sectionSpotLocation .labelRow .imgSpot{display: block; width: 100%; height: 100%; object-fit: cover;}
#locationSheet .sectionSpotLocation .labelRow .areaMapSpot{display: none;}
#locationSheet .sectionSpotLocation .labelRow .badgeRobot{position: absolute; top: 2px; left: 2px; width: 28px; height: 16px; line-height: 16px; border-radius: 3px; box-sizing: border-box; background-color: rgba(0,100,236,0.75); color: #FFFFFF; font-size: 0.625rem; font-weight: 700; text-align: center;}
#locationSheet .sectionSpotLocation .labelRow .spotName{line-height: 1.125rem; font-size: 1rem;}
#locationSheet .sectionSpotLocation .labelRow .spotDistance{line-height: 0.75rem; margin-top: 5px; color: #A0A0A0; font-size: 0.75rem;}
#locationSheet .sectionSpotLocation .btnSpotMore{position: absolute; top: 0; right: 0; z-index: 20; line-height: 52px; color: #A0A0A0; font-size: 0.75rem; text-align: right;}
#locationSheet .sectionSpotLocation .spotDetail{display: none;}
#locationSheet .sectionSpotLocation .detail .labelRow{padding-left: 30px;}
#locationSheet .sectionSpotLocation .detail .labelRow .spotName{line-height: 1.25rem; padding-top: 15px; color: #131313; font-size: 1.125rem; font-weight: 700;}
#locationSheet .sectionSpotLocation .detail .areaImgSpot{position: relative; left: unset; width: 100px; height: 104px;}
#locationSheet .sectionSpotLocation .detail .areaMapSpot{display: block; position: absolute; top: 0; right: 0; left: 140px; height: 104px; border-radius: 5px; background-color: #F5F5F5; overflow: hidden; z-index: 10}
#locationSheet .sectionSpotLocation .detail .areaMapSpot .spotOverlay{position: relative; top: 30px; max-width: 120px; height: auto; padding: 7px 10px; border-radius: 5px; background-color: rgba(0,0,0,0.6);}
#locationSheet .sectionSpotLocation .detail .areaMapSpot .spotOverlay .name{line-height: 0.875rem; color: #FFFFFF; font-size: 0.625rem; font-weight: 600;}
#locationSheet .sectionSpotLocation .detail .areaMapSpot .spotOverlay.robot{background-color: rgba(0,100,236,0.75);}
#locationSheet .sectionSpotLocation .detail .badgeRobot{width: 34px; height: 18px; line-height: 18px; font-size: 0.75rem;}
#locationSheet .sectionSpotLocation .detail .btnSpotMore{top: 102px; line-height: 1.25rem; padding-top: 15px;}
#locationSheet .sectionSpotLocation .detail .spotDetail{display: block; width: 100%; height: auto; margin-top: 15px;}
#locationSheet .sectionSpotLocation .detail .titleSpotTime{line-height: 0.875rem; margin-bottom: 10px; font-size: 0.875rem; font-weight: 600;}
#locationSheet .sectionSpotLocation .detail .ulSpotTime{width: 100%; height: auto;}
#locationSheet .sectionSpotLocation .detail .liSpotTime{width: 100%; height: auto; line-height: 0.75rem; margin-bottom: 5px; color: #A0A0A0; font-size: 0.75rem;}
#locationSheet .sectionSpotLocation .detail .liSpotTime:last-of-type{margin-bottom: 0;}

#locationSheet .sectionVote{position: relative; width: 100%; height: auto; padding: 35px 20px 20px 20px; box-sizing: border-box; background-color: #FFFFFF;}
#locationSheet .sectionVote:before{content: ""; position: absolute; top: 0; right: 0; left: 0; height: 5px; background-color: #F5F5F5;}
#locationSheet .sectionVote .areaText{width: 100%; height: auto; margin-bottom: 22px;}
#locationSheet .sectionVote .areaText .titleVote{width: 100%; height: auto; line-height: 1.125rem; margin-bottom: 15px; color: #131313; font-size: 1.125rem; font-weight: 700;}
#locationSheet .sectionVote .areaText .bodyVote{width: 100%; height: auto; line-height: 1rem; color: #A0A0A0; font-size: 0.75rem;}
#locationSheet .sectionVote .ulVote{position: relative; width: 100%; height: auto; margin-bottom: 22px;}
#locationSheet .sectionVote .liVote{position: relative; width: 100%; height: auto; margin-bottom: 15px; padding: 15px 65px 15px 15px; border-radius: 5px; box-sizing: border-box; background-color: #FFFFFF; box-shadow: 0 1px 4px rgba(0,0,0,12%);}
#locationSheet .sectionVote .liVote:last-of-type{margin-bottom: 0;}
#locationSheet .sectionVote .liVote .voteName{width: 100%; height: auto; line-height: 1rem; margin-bottom: 10px; font-size: 0.875rem;}
#locationSheet .sectionVote .liVote .voteMap{width: 100%; height: 100px; margin-bottom: 12px; background-color: #EAEAEA;}
#locationSheet .sectionVote .liVote .areaProgress{position: relative; width: 100%; height: 14px; background-color: #EAEAEA;}
#locationSheet .sectionVote .liVote .progress{position: absolute; top: 0; bottom: 0; left: 0;}
#locationSheet .sectionVote .liVote .number{position: absolute; top: 0; left: 5px; line-height: 14px; color: #FFFFFF; font-size: 10px; font-weight: 700;}
#locationSheet .sectionVote .liVote .btnVoteMore{position: absolute; top: 15px; right: 65px; line-height: 1rem; color: #A0A0A0; font-size: 0.75rem; text-align: right;}
#locationSheet .sectionVote .liVote .btnVote{position: absolute; bottom: 14px; right: 10px; margin-top: -22.5px; width: 45px; height: 45px;}
#locationSheet .sectionVote .liVote .btnVote img{display: block; width: 100%; height: 100%; vertical-align: top; object-fit: contain;}
#locationSheet .sectionVote .setApply{position: relative; width: 100%; height: auto;}
#locationSheet .sectionVote .setApply .btnApply{display: block; width: 100%; height: 36px; line-height: 34px; border-width: 1px; box-sizing: border-box; border-radius: 18px; background-color: #FFFFFF; font-size: 0.875rem; font-weight: 600; text-align: center;}

#locationSheet .sectionDirectLocation{position: relative; width: 100%; height: auto; background-color: #FFFFFF;}
#locationSheet .sectionDirectLocation .directMap{position: relative; width: 100%; height: 200px; background-color: #EAEAEA;}
#locationSheet .sectionDirectLocation .areaMapNotice{position: relative; width: 100%; height: 35px; line-height: 35px; background-color: #F5F5F5; color: #505050; font-size: 0.75rem; text-align: center;}
#locationSheet .sectionDirectLocation .areaMapNotice.bgSub{color: #131313; font-weight: 600;}
#locationSheet .sectionDirectLocation .areaDirectAddress{position: relative; width: 100%; height: auto; padding: 20px; box-sizing: border-box}
#locationSheet .sectionDirectLocation .directAddress{width: 100%; height: auto; line-height: 1.25rem; margin-bottom: 15px; font-size: 1rem;}
#locationSheet .sectionDirectLocation .setBorder{margin-bottom: 5px;}
#locationSheet .sectionDirectLocation .setBorder:last-of-type{margin-bottom: 0;}
#locationSheet .sectionDirectLocation .setBorder .inputBorder{line-height: 0.875rem; font-size: 0.875rem;}

#locationSheet .sectionRecent{position: relative; width: 100%; height: auto; padding: 35px 20px 7px 20px; box-sizing: border-box; background-color: #FFFFFF;}
#locationSheet .sectionRecent:before{content: ""; position: absolute; top: 0; right: 0; left: 0; height: 5px; background-color: #F5F5F5;}
#locationSheet .sectionRecent .titleRecent{width: 100%; height: auto; line-height: 1.125rem; margin-bottom: 7px; color: #131313; font-size: 1.125rem; font-weight: 700;}
#locationSheet .sectionRecent .ulRecent{position: relative; width: 100%; height: auto;}
#locationSheet .sectionRecent .liRecent{position: relative; width: 100%; height: auto; padding: 22px 0; border-bottom: 1px solid #EAEAEA; box-sizing: border-box;}
#locationSheet .sectionRecent .liRecent:last-of-type{border-bottom: none;}
#locationSheet .sectionRecent .labelRow{padding-left: 30px; box-sizing: border-box;}
#locationSheet .sectionRecent .labelRow .iconCircles{margin-right: 0; transform: scale(0.8);}
#locationSheet .sectionRecent .recentName{line-height: 1.125rem; font-size: 1rem;}
#locationSheet .sectionRecent .recentName .bgMain{display: inline-block; vertical-align: top; width: 36px; height: 18px; line-height: 18px; margin-left: 5px; border-radius: 9px; color: #FFFFFF; font-size: 0.75rem; font-weight: 600; text-align: center;}
#locationSheet .sectionRecent .recentDetail{line-height: 1rem; margin-top: 5px; color: #A0A0A0; font-size: 0.75rem;}