@charset "utf-8";
/*---------------------------------------------
	파일명 : enter
	설　명 : 입장하기
	클래스명 : 카멜케이스, 태그역활 + 컨텐츠내용 조합, 넘버링은 하이픈
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / margin / padding / border / background / font / overflow / etc...
---------------------------------------------*/
/* 입장하기 */
#enter {padding: 70px 20px 100px 20px;}
#enter .title{line-height: 1.78rem; margin-bottom: 30px; font-size: 1.78rem; font-weight: 700;}
#enter .title .subtitle{line-height: 1rem; margin-bottom: 7px; color: #A0A0A0; font-size: 1rem; font-weight: 400;}
#enter .sectionInput{position: relative; width: 100%; height: auto; margin-bottom: 30px; background-color: #FFFFFF;}
#enter .sectionInput .setBottomLine{margin-bottom: 6px;}
#enter .sectionSubmit{position: relative; width: 100%; height: auto; background-color: #FFFFFF;}